inspectionProfiles
.idea
t10k-images-idx3-ubyte
*.gz
/sandbox/src/data/MNIST/raw/t10k-labels-idx1-ubyte
/sandbox/src/data/MNIST/raw/train-images-idx3-ubyte
/sandbox/src/data/MNIST/raw/train-labels-idx1-ubyte
/src/data/__pycache__/dataloader.cpython-39.pyc
/src/model/vae/__pycache__/vae.cpython-39.pyc
/src/utils/__pycache__/utils.cpython-39.pyc
/src/data/MNIST/raw/t10k-labels-idx1-ubyte
/src/data/MNIST/raw/train-images-idx3-ubyte
/src/data/MNIST/raw/train-labels-idx1-ubyte
/src/utils/__pycache__/viz.cpython-39.pyc
*.pyc
/src/data/cifar-10-batches-py/batches.meta
/src/data/cifar-10-batches-py/data_batch_1
/src/data/cifar-10-batches-py/data_batch_2
/src/data/cifar-10-batches-py/data_batch_3
/src/data/cifar-10-batches-py/data_batch_4
/src/data/cifar-10-batches-py/data_batch_5
/src/data/cifar-10-batches-py/readme.html
/src/data/cifar-10-batches-py/test_batch
